#userlist_tbl td .label {
	display:inline-block; /* to respect padding */
}

#hostlist_tbl td.action,
#userlist_tbl td.action {
	white-space: nowrap;
}

#userlist_tbl td {
	font-size:0.9em;
}

.narrowform .form-group {
	padding-left:3px;
	padding-right:3px;
}

#ms-hostlist li {
	white-space: nowrap;
}

#public_keys {
	font-size:0.7em;
}


tr.delayed .age_sec {
}

tr.delayed2 .age_sec {
}

tr.ahead .age_sec {
}



div.sel_id {
	background-color: #8197C1;
    padding: 1px 2px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 3px;
    color: white;
    line-height: 1;
}


#clientlist_tbl td.client_id,
#clientlist_tbl td.salt_id,
#clientlist_tbl td.additional_info,
#clientlist_tbl td.nodename
{
	font-size:0.6em;
}

#clientlist_tbl td.agent_info {
	font-size:0.6em;
}

td.time_requested,
td.time_returned,
td.time_communicated
{
	font-size:0.8em;
	letter-spacing: -1px;
}

td {
	font-size:0.95em;
}

.refresh-label {
	display:none;

}

/* poll box */
.polldata {
	overflow:auto;
	/*width:160px;*/
}
.poll_delay {
	width: 55%;
    float: left;
	margin-right:3px;
}

.poll_info {
	width: 40%;
	float:left;
}

.poll_period {
	float:left;
	width:45%;
	margin-right:3px;
	padding-left:1px;
	padding-right:1px;
}

.longpoll_period {
	float:left;
	width:45%;
	padding-left:1px;
	padding-right:1px;
}


tr.delayed .age_sec {
}

tr.delayed2 .age_sec {
}

tr.ahead .age_sec {
}


#run_command_command {
	font-family: monospace;
	font-size: 0.8em;
}
