
#agent_statuscalendar {
	overflow-x:hidden;
	overflow-y:auto;
	height: 350px;
}

#agent_hist_calendar_average {
	width:100%;
	height:200px;
	overflow-y:auto;
	overflow-x:hidden
}

#agentstatus_map {
	width:100%;
	height:300px;
}

#agent_sparkstate_daterange {
	margin-bottom:30px;
}
