h1 {
    color: #719e40;
    letter-spacing: -3px;
	font-family: 'Tinos', serif;
    font-weight: 400;
    margin-bottom: 0;
}


.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
	border: none;
}

a.navbar-brand:hover, a.navbar-branda:focus {
	color:#B2D6D1;
}
a.navbar-brand img {
	height:25px;
	border-radius:3px;
}
