body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
	/*
    background-image:linear-gradient(to top right,#fc7279 10%, #ff7b9c 65%, #ffc019 125%);
    background-image:linear-gradient(to top right,#C4D6E2 10%, #E6E6E6 65%, #84CCF9 125%);
    background-image:linear-gradient(to top right,#7DC6BC 10%, #E6E6E6 65%, #84CCF9 125%);
    background-image:linear-gradient(to top,#bbe4de 5%, #E6E6E6 35%, #b6dbf2 130%);
	*/
    /*background-image:url('../images/photography.png');*/
    background-image:linear-gradient(to bottom,#2A90A7 50%,#77CDA8 80%);
	background-image:url('../../images/logo/cool-bg.jpg');
	background-size:100% auto; /* stretch horizontally*/
}


/* NAVBAR */
.navbar-my {
	background-color:#00446D;
	border-color:#00446D;
}


.nav > li > a {
	color:white;
}

.nav > li > a:hover, 
.nav > li > a:focus ,
.navbar-my .navbar-nav > .active > a, 
.navbar-my .navbar-nav > .active > a:hover, 
.navbar-my .navbar-nav > .active > a:focus,
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus,
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus 
{
	background-color:#136CA0;
	color:white;
}



.navbar-brand {
	color:#FFFFFF;
}

.nav > li.disabled > a {
	color:#aaa;
}


/* End Of Navbar */

.ms-selectable .custom-header ,
.ms-selection .custom-header {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 3px;
    background-color: #4A8DB3;
    color: white;
}

.form-control {
	padding:6px 6px;
}
