<!DOCTYPE html>
<html lang="en">
	<head>
	{% include 'header.html' with {'title': 'agents'} %}
	<link href='{{ uri.basePath }}/css/coolagent/agents.css' rel='stylesheet' type='text/css'>
	<script src="{{ uri.basePath }}/js/coolagent/agents.js"></script>
	</head>

	<body>
		{% include 'menu.html' %}

		<div class='container-fluid'>
			<div class='row'>
				<div class='col-md-8'>
					<div class='panel panel-primary' id='agent_container'>
					    <div class="panel-heading">
						    Agent List

							<div class='pull-right'> 


								<span title='Data has changed, please refresh manualy by clicking the refresh button. This table does not auto-refresh to prevent interrupting your work.' 
										class="label label-warning refresh-label" id='agents_list_needs_refresh'>New Data</span>
								<span class="label label-info refresh-label" id='agents_list_refresh'>Refreshing...</span>
								<!-- select -->
								<div class="dropdown" style='display:inline-block;color:#333'>
								  <button href="#" class="btn btn-default btn-xs dropdown-toggle select_menu" data-toggle="dropdown" role="button" 
								   aria-haspopup="true" aria-expanded="false">Selection (<span class='nselected'>0</span>)<span class="caret"></span></button>
								  <ul class="dropdown-menu" >
									<li><a id='select_define_scope' href="#">Define as current scope (<span class='nselected'>0</span>)</a></li>
									<li role="separator" class="divider"></li>
									<li class="dropdown-header">Table Actions</li>
									<li><a id='select_unselectall' href="#">Unselect All</a></li>
									<li><a id='select_selectall' href="#">Select All</a></li>
									<li><a id='select_selectvisible' href="#">Also select Visible</a></li>
								  </ul>
								</div>


								<button type="button" id='agentslist_refresh_btn' class="btn btn-xs btn-default" aria-hidden="true">
									<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
								</button>

							</div>


					    </div>
					    <div class="panel-body">
						
							<table id='agentlist_tbl' class='table table-striped table-condensed table-hover'>
							<thead>
								<tr>
								<th>Agent</th>
								<th title='Additional Info'>Additional Info</th>
								<th title='Agent Version'>Version</th>
								<th>Node Name</th>
								<th>Arch</th>
								<th>O/S</th>
								<th>Register date</th>
								<th>Last IP</th>
								<th title='How long ago was last poll'>Poll Data</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
							</table>
						</div><!-- panel body-->

					</div><!-- panel agent_container -->
				</div> <!-- md-8 -->

				<div class='col-md-4'>

					<div class='row'>
						<div class='col-md-8'>
							<div class='panel panel-default'>
								<div class='panel-heading'>
									Agent Scope
									<div class='pull-right'> 
										<div class="checkbox" style='margin-top:0px;float:left;margin-right:10px;'>
											<label title='If unchecked, use the Selection menu to add items'>
												<input id=autoadd type="checkbox" checked> Autoadd
											</label>
										</div>
										<button type="button" id="clear_scope_btn" class="btn btn-xs btn-default" aria-hidden="true">
											  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
										</button>

									</div> <!-- pull-right -->
								</div> <!-- heading -->
								<div class='panel-body'>
									<div id='selected_agent_ids' style='overflow-y:auto;max-height:250px;'>Define a scope from the select menu</div>
								</div>
							</div> <!-- panel -->

						</div>

						<div class='col-md-4'>
							<div class='panel panel-default'>
								<div class='panel-heading'>Scope Sets</div>
								<div class='panel-body'>

									<div style='overflow:auto;'>
									<ul>
									<li>Define new</li>
									<li>List sets</li>
									</ul>
									</div>
								</div>
							</div>
						</div>
					</div> <!--row-->

					<div class='row'>
						<div class='col-md-12'>
							<div class='panel panel-info'>
								<div class='panel-heading'>
									Pending Commands
									<div class='pull-right'> 
										<span class="label label-info refresh-label" id='pending_commands_refresh'>Refreshing...</span>
										<button type="button" id='pendingcmd_refresh_btn' class="btn btn-xs btn-default" aria-hidden="true">
											<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
										</button>
									</div>
								</div>
								<div class='panel-body'>
									<table id='pendingcmd_tbl' class='table table-striped table-condensed '>
									<thead>
										<tr>
										<th>CMD#</th>
										<th>Agent</th>
										<th title='Command' >CMD</th>
										<th title='Date Requested'>Date Req.</th>
										<th title='Date Communicated'>Date Com.</th>
										<th title='Command, Tunnel, Scenario'>Type</th>
										<th data-orderable="false">Abort</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
									</table>
								</div>
							</div><!-- panel -->
						</div> <!-- col -->
					</div><!--row-->

					<div class='row'>
						<div class='col-md-12'>
							<div class='panel panel-success'>
								<div class='panel-heading'>Active Tunnels
								
									<div class='pull-right'> 
										<span class="label label-info refresh-label" id='activetunnels_refresh'>Refreshing...</span>
										<button type="button" id='activetunnels_refresh_btn' class="btn btn-xs btn-default" aria-hidden="true">
											<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
										</button>
									</div>
								
								</div>
								<div class='panel-body'>
									<table id='activetunnels_tbl' class='table table-striped table-condensed '>
									<thead>
										<tr>
										<th>CMD#</th>
										<th>Agent</th>
										<th title='Date Requested'>Date Req.</th>
										<th title='Date Established'>Date Est.</th>
										<th>Port</th>
										<th>Tip</th>
										<th data-orderable="false">Close</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
									</table>
								</div><!-- panel body -->
								<div class='panel-footer'>ssh hints</div>
							</div>
						</div>
					</div><!--row-->


					<div class='row'>
						<div class='col-md-12'>
							<div class='panel panel-default'>
								<div title='last 1000 entries' class='panel-heading'>History <small>(last 1000)</small>
									<div class='pull-right'> 
										<span class="label label-info refresh-label" id='cmd_history_refresh'>Refreshing...</span>
										<button type="button" id='cmdhistory_refresh_btn' class="btn btn-xs btn-default" aria-hidden="true">
											<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
										</button>
									</div>
								
								</div>
								<div class='panel-body'>
									<div class="checkbox">
										<label>
										  <input class='scopefilterchkbox' data-fortable='cmdhistory_tbl' type="checkbox"> Filter by current scope
										</label>
									</div>

									<table id='cmdhistory_tbl' class='table table-striped table-condensed '>
									<thead>
										<tr>
										<th>CMD#</th>
										<!--th title='Command group tag'>CGRP</th-->
										<th>Agent</th>
										<th title='Date Requested'>Date Req.</th>
										<th title='Date Returned'>Date Ret.</th>
										<th>CMD</th>
										<th>Exit Status</th>
										<th>Output</th>
										<th>Show</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
									</table>

								</div><!-- panel body -->
							</div>
						</div>
					</div><!--row-->



				</div> <!-- col-md-4 -->
			</div> <!-- row -->

		</div>

{% include 'modal_run_command.twig' %}
{% include 'modal_open_tunnel.twig' %}
{% include 'modal_show_command_output.twig' %}
    </body>

{% include 'footer.html' %}
</html>
