<html>
	<head>
	{% include 'header.html' with {'title': 'Dashboard'} %}

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://maps.google.com/maps/api/js?v=3.9&amp;sensor=false"></script>
	<script src="{{ uri.basePath }}/js/oms.min.js"></script>

	<script src="{{ uri.basePath }}/js/jquery.sparkline.min.js"></script>
	<script src="{{ uri.basePath }}/js/coolagent/dashboard.js"></script>
			
	<link href='{{ uri.basePath }}/css/coolagent/dashboard.css' rel='stylesheet' type='text/css'>


	</head>

    <body>
		{% include 'menu.html' %}

        <div class='container-fluid'>

			<div class='row'>

				<div class='col-md-6'>
					<div class='panel panel-default' id='maintenance_container'>
                        <div class="panel-heading">
                            Current agent availability histogram
                        </div>
                        <div class="panel-body">
							<div  style='width:100%;height:300px;' id='agentstatus_histogram'></div>
                        </div><!-- panel body-->
                    </div><!-- panel agent_container -->
				</div><!-- col -->


				<div class='col-md-6'>
					<div class='panel panel-default' id='maintenance_container'>
                        <div class="panel-heading">
                            Current agent availability geolocated
                        </div>
                        <div class="panel-body">
							<div id='agentstatus_map'></div>
                        </div><!-- panel body-->
                    </div><!-- panel agent_container -->
				</div><!-- col -->

			</div> <!-- row -->

			<div class='row'>

				<div class='col-md-12'>
					<div class='panel panel-default' >
                        <div class="panel-heading">
                            Average agent availability
                        </div>
                        <div class="panel-body">
							<div class='col-md-2'>
								<p>
								<h4>Legend</h4>
								<span class="label label-danger">Offline</span>
								<span class="label label-default">No data</span>
								<span class="label label-success">Online</span>
								</p>

								<p style='margin-top:50px'>
								<h4>Current Stats</h4>
								Total Agents: <span id='stat_agents_total'></span><br>
								Available Agents: <span id='stat_agents_available'></span><br>
								</p>
							</div>
							<div class='col-md-10'>
								<div  style='height:300px;' id='agent_average_statuscalendar'></div>
							</div>

                        </div><!-- panel body-->
                    </div><!-- panel agent_container -->
				</div><!-- col -->

			</div> <!-- row -->



			<div class='row'>
				<div class='col-md-12'>

					<div class='panel panel-default' id='maintenance_container'>
                        <div class="panel-heading">
                            Agent availability History
                        </div>
                        <div class="panel-body">
							<table class='table table-borderless'>
							<tr>
								<td width='20%'>
								    <div class="form-group">
									<label for="agent_list">Agent</label>
									<select class="form-control" id='agent_list'></select>
									</div>

								    <div class="form-group">
										<label for="agent_hist_calendar_datestart">Date Range</label>
										<table><tr>
										<td>
										<select class="form-control" id='agent_hist_calendar_datestart'>
											<option value='end-2week'>2 weeks ago</option>
											<option value='end-1month'>1 month ago</option>
											<option value='end-6months'>6 months ago</option>
											<option value='end-1yr'>1 year ago</option>
											<option value='end-3yr'>3 years ago</option>
										</select>
										</td>
										<td>
										&rarr;
										</td>
										<td>
										<select class="form-control" id='agent_hist_calendar_dateend'>
											<option value='now'>now</option>
										</select>
										</td></tr>
										</table>

										<label for="agent_hist_calendar_resolutionsec">Interval</label>
										<select class="form-control" id='agent_hist_calendar_resolutionsec'>
											<option value='1800'>30 min</option>
											<option value='86400'>1 day</option>
										</select>
									</div>

									<button class='btn btn-primary btn-sm' id='agent_hist_calendar_show' type=button>Calendar</button>



									<button class='btn btn-primary btn-sm' id='agent_hist_spark_show' type=button>Sparklinkes</button>
								</td>
								<td>
									<div id='agent_sparkstate'></div>
									<div id='agent_sparkstate_daterange'></div>
									<div style='height:350px' id='agent_statuscalendar'></div>
								</td>
							</tr>
							</table>

                        </div><!-- panel body-->
                    </div><!-- panel agent_container -->

				</div>
			</div> <!-- row -->


			<div class='row'>
				<div class='col-md-12'>

                    <div class='panel panel-default' id='maintenance_container'>
                        <div class="panel-heading">
                            Poll State History
                        </div>
                        <div class="panel-body">
							<table id='statuses_tbl' class='table table-borderless table-condensed table-striped'>
							<thead>
							<tr>
								<th style='width:15%'>Agent ID</th>
								<th>Status</th>
							</tr>
							</thead>
							<tbody>

							<tr>
								<td></td>
								<td></td>
							</tr>

							</tbody>
							</table>

                        </div><!-- panel body-->

                    </div><!-- panel agent_container -->

				</div>
			</div> <!-- row -->


		</div><!-- container -->

<script>
  // randomize some overlapping map data -- more normally we'd load some JSON data instead
  var baseJitter = 2.5;
  var clusterJitterMax = 0.1;
  var rnd = Math.random;
  var data = [];
  var clusterSizes = [1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2,2, 3, 3, 4, 5, 6, 7, 8, 9, 12, 18, 24];
  for (var i = 0; i < clusterSizes.length; i++) {
    var baseLon = -1 - baseJitter / 2 + rnd() * baseJitter;
    var baseLat = 52 - baseJitter / 2 + rnd() * baseJitter;
    var clusterJitter = clusterJitterMax * rnd();
    for (var j = 0; j < clusterSizes[i]; j ++) data.push({
      lon: baseLon - clusterJitter + rnd() * clusterJitter,
      lat: baseLat - clusterJitter + rnd() * clusterJitter,
      h:   new Date(1E12 + rnd() * 1E11).toString(),
      d:   Math.round(rnd() * 100) + '% happy'
    });
  }
  window.mapData = data;
</script>
	</body>
{% include 'footer.html' %}
</html>

