<html>
	<head>
	{% include 'header.html' with {'title': 'Home'} %}
	<meta http-equiv="refresh" content="2; url={{ uri.basePath }}/" />   
	</head>

    <body>
		<div class="container">
			<div class='jumbotron'>
			<p>
			{{ message }}<br>
			</p>
			Redirecting to <a href='{{ uri.basePath }}/'>Homepage</a>
			</div>
		</div>

    </body>

</html>
