
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" href="{{ uri.basePath }}/images/logo/walrus-head-transp.png" />


		<title>{{ title }} - coolagent</title>

		<link href='//fonts.googleapis.com/css?family=Tinos|Open+Sans|Jura&subset=latin,greek' rel='stylesheet' type='text/css'>

		<!--
		<link href='{{ uri.basePath }}/css/bootstrap-theme.css' rel='stylesheet' type='text/css'>
		-->
		<link href='{{ uri.basePath }}/css/bootstrap.css' rel='stylesheet' type='text/css'>
		<link href='{{ uri.basePath }}/css/coolagent/theme.css' rel='stylesheet' type='text/css'>

		<link href='{{ uri.basePath }}/css/dataTables.bootstrap.css' rel='stylesheet' type='text/css'>
		<link href='{{ uri.basePath }}/css/dataTables.bootstrap.fixes.css' rel='stylesheet' type='text/css'>

		<link href='{{ uri.basePath }}/css/coolagent/style.css' rel='stylesheet' type='text/css'>

		<script src="{{ uri.basePath }}/js/jquery-2.1.4.min.js"></script>
		<script src="{{ uri.basePath }}/js/bootstrap.min.js"></script>
		<script src="{{ uri.basePath }}/js/validator.js"></script>
		<script src="{{ uri.basePath }}/js/jquery.dataTables.min.js"></script>
		<script src="{{ uri.basePath }}/js/jquery.confirm.js"></script>

		<script src="{{ uri.basePath }}/js/dataTables.bootstrap.js"></script>
		<script src="{{ uri.basePath }}/js/coolagent/coolagent-helpers.js"></script>
		<script src="{{ uri.basePath }}/js/coolagent/coolagent-common.js"></script>
		<script> basepath = "{{ uri.basePath }}" </script>

