<html>
	<head>
	{% include 'header.html' with {'title': 'History'} %}
	<link href='{{ uri.basePath }}/css/coolagent/history.css' rel='stylesheet' type='text/css'>

	<script src="{{ uri.basePath }}/js/coolagent/history.js"></script>
	</head>

    <body>
		 {% include 'menu.html' %}

        <div class='container-fluid'>
            <div class='row'>
                <div class='col-md-12'>
                    <div class='panel panel-primary' id='history_container'>
                        <div class="panel-heading">
                            History
							<div class='pull-right'>

                                <button type="button" id='history_export_btn' class="btn btn-sm btn-default" aria-hidden="true">
									<span class='glyphicon glyphicon-download-alt' aria-hidden='true' title='Export'></span>
                                </button>

							</div>
                        </div>
                        <div class="panel-body">

							<table id='cmdhistory_tbl' class='table table-striped table-condensed '>
							<thead>
								<tr>
								<th>CMD#</th>
								<th title='group_tag'>CMD Grp</th>
								<th>Agent</th>
								<th title='Date Requested'>Date Req.</th>
								<th title='Date Returned'>Date Ret.</th>
								<th>CMD</th>
								<th>Exit Status</th>
								<th title='cmd / tunnel'>Type</th>
								<th>ExecType</th>
								<th>Output</th>
								<th>Show</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
							</table>

                        </div><!-- panel body-->

                    </div><!-- panel agent_container -->
                </div> <!-- md-8 -->
			</div>
		</div><!-- container -->


    </body>
{% include 'modal_show_command_output.twig' %}
{% include 'footer.html' %}
</html>
