<html>
	<head>
	{% include 'header.html' with {'title': 'Home'} %}
	</head>

    <body>
		<div class="container">
		 {% include 'menu.html' %}
			  <!-- Main component for a primary marketing message or call to action -->
			  <div class="jumbotron">
				<h1>Cool Agent</h1>
				<p>Pragmatic, HTTP-based, remote execution </p>
				<img title='The Cool Agent'  width=200px src='images/logo/walrus.svg'>
			  </div>
		</div>

    </body>

{% include 'footer.html' %}
</html>
