<html>
	<head>
	{% include 'header.html' with {'title': 'Maintenance'} %}
	<link href='{{ uri.basePath }}/css/coolagent/maintenance.css' rel='stylesheet' type='text/css'>

	<script src="{{ uri.basePath }}/js/coolagent/maintenance.js"></script>
	<script src="https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js"></script>

<style type="text/css" media="screen">
    #script_editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
	</head>

    <body>
		 {% include 'menu.html' %}

        <div class='container-fluid'>


            <div class='row'>
                <div class='col-md-4'>
                    <div class='panel panel-primary' id='maintenance_container'>
                        <div class="panel-heading">
                            <b>Agent Tasks</b>
                        </div>
                        <div class="panel-body">
							<!-- agent name, seen ago (days) -->
							<table class='table table-borderless'>
							<tr> <td colspan=2><select id='agent_list'> </select></td></tr>
							<tr>
							    <td style='width:40%'><button id='agent_delete' type="button" class="btn btn-block btn-danger">Delete</button></td>
								<td>Agent will be deleted from database, along with its command history</td>
							</tr>
							<tr>
							    <td><button id='agent_unregister' type="button" class="btn btn-block btn-warning">Unregister (clear password)</button></td>
								<td>This will allow the agent to auto re-register. Use this if an agent with the same id was re-installed without keeping its password file.</td>
							</tr>
							<tr>
							    <td><button id='agent_update' type="button" class="btn btn-block btn-default">Update Software</button></td>
								<td>A command will be sent to the agent to download and execute a new agent version</td>
							</tr>
							</table>

                        </div><!-- panel body-->

                    </div><!-- panel agent_container -->
                </div> <!-- md-8 -->
                <div class='col-md-4'>
				-
				</div>



			</div><!-- row -->

            <div class='row'>
                <div class='col-md-4'>
                    <div class='panel panel-primary' id='maintenance_container'>
                        <div class="panel-heading">
                            <b>Mass DB operations (not yet implemented)</b>
                        </div>
                        <div class="panel-body">
							<button disabled id='cmd_cancel_notreturned' type="button" class="btn btn-warning">Cancel Not Returned</button>
							<button disabled id='cmd_cancel_notreceived' type="button" class="btn btn-warning">Cancel Not Received</button>
							<button disabled id='cmd_cancel_pending' type="button" class="btn btn-warning">Cancel Pending</button>
                        </div><!-- panel body-->

                    </div><!-- panel agent_container -->
                </div> <!-- md-8 -->
                <div class='col-md-4'>
				-
				</div>
			</div><!-- row -->


		</div><!-- container -->

    </body>
{% include 'modal_show_command_output.twig' %}
{% include 'footer.html' %}
</html>
