<!-- menu.html -->

<!-- uri.path: after the public/ e.g. ui/maintainance/ -->
<!-- uri.basePath: before and including the public/ (e.g. ~sivann/.../public-->

		<nav class="navbar navbar-my navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				  <a class="navbar-brand" href="{{ uri.basePath ~ '/' }}"><img height=25 src="{{ uri.basePath ~ '/images/logo/walrus-head.png'}}" title='Cool Agent'></a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">

						<!--li class="{% if uri.path == '/' %} active  {% endif %}"><a href="{{ uri.basePath ~ '/' }}">Home</a></li-->
						<li class="{% if 'dashboard' in uri.path %} active  {% endif %}"><a href="{{ uri.basePath ~ '/ui/dashboard/' }}"><span class='glyphicon glyphicon-dashboard'></span> Dashboard</a></li>
						<li class="{% if 'agents' in uri.path %} active  {% endif %}"><a href="{{ uri.basePath ~ '/ui/agents/' }}"><span class='glyphicon glyphicon-sunglasses'></span> Agents</a></li>

						{% if 'agents' in uri.path %} 
						<li class="dropdown scope-menu">
							<a href="#" class="dropdown-toggle scope-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scope Actions <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="dropdown-header">Applied to current Agent Scope</li>
								<li><a href="#run_command_modal" data-target='#run_command_modal' data-toggle="modal">Run Command</a></li>
								<li><a href="#open_tunnel_modal" data-target='#open_tunnel_modal' data-toggle="modal">Open Tunnel</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Update Agent</a></li>
							</ul>
						</li>

						{% endif %}


					</ul>

					<ul class="nav navbar-nav navbar-right">



						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class='glyphicon glyphicon-cog'></span> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="{% if 'history' in uri.path %} active  {% endif %}"><a title='History' href="{{ uri.basePath ~ '/ui/history/' }}"><span class='glyphicon glyphicon-calendar'></span> History</a></li>

								<li class="{% if 'scripts' in uri.path %} active  {% endif %}"><a title='Manage Scripts' href="{{ uri.basePath ~ '/ui/scripts/' }}"><span class='glyphicon glyphicon-edit'></span> Scripts</a></li>
								<li class="{% if 'maintenance' in uri.path %} active  {% endif %}"><a title='Maintenance' href="{{ uri.basePath ~ '/ui/maintenance/' }}"><span class='glyphicon glyphicon-wrench'></span> Maintenance</a></li>
								<li role="separator" class="divider"></li>
								<li><a data-toggle="modal" data-target=".menu-modal-about" href="#"><span class='glyphicon glyphicon-question-sign'></span> About</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class='glyphicon glyphicon-download-alt'></span> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class='disabled'><a href='#'>Agent Download</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{{ uri.basePath ~ '/software/agent/x86_64' }}"><span class='glyphicon glyphicon-download-alt'></span> x86_64 {{ agentversion.x86_64.1 }}</a></li>
								<li><a href="{{ uri.basePath ~ '/software/agent/i686' }}"><span class='glyphicon glyphicon-download-alt'></span> i686 {{ agentversion.i686.1 }} </a></li>
								<li><a href="{{ uri.basePath ~ '/software/agent/armv5tel' }}"><span class='glyphicon glyphicon-download-alt'></span> armv5tel{{ agentversion.armv5tel.1 }}</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class='glyphicon glyphicon-user'></span> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% if session.loggedin == 1 %}
								<li ><a title='Logout' href="{{ uri.basePath ~ '/ui/logout/' }}"><span class='glyphicon glyphicon-log-out'></span> Logout</a></li>
								{% else %}
								<li class="disabled"><a title='Logout' href="#"><span class='glyphicon glyphicon-log-out'></span> Logout</a></li>
								{% endif %}

								<li role="separator" class="divider"></li>
								{% if session.loggedin == 1 %}
								<li class='disabled'><a href='#'>{{ session.user}}</a></li>
								{% else %}
								<li class='disabled'><a href='#'></a></li>
								{% endif %}
							</ul>
						</li>



					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</nav>


<!-- Small modal -->

<div class="modal fade menu-modal-about" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
		<div class="modal-header"> 
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">× </span> </button> 
			<h4 class="modal-title" id="mySmallModalLabel">About</h4> 
		</div> 
		<div class="modal-body"> 
			<p>
			<img height=25 src="{{ uri.basePath ~ '/images/logo/walrus-head.png'}}" title='Cool Agent'>
			<big>Cool Agent</big>
			</p>
			<a target=bitbucket href='https://bitbucket.org/sivann/coolagent'>Home</a><br>
			Version: {% include('git_version.txt') %}
		</div> 
    </div>
  </div>
</div>


<!-- /menu.html -->
