
	<!-- Modal open tunnel oxxxx -->
	<div id='open_tunnel_modal' class="modal fade" tabindex="-1" role="dialog" >
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Open tunnel</h4>
				</div>
				<div class="modal-body">
				Open tunnel to <b><span id='open_tunnel_agentcount'></span></b> selected agents<br>
				<p>Selecting 'Go' will add a tunnel request in the "Pending Commands" table.</p>


				<div  id=open_tunnel_error class="panel panel-danger">
				  <div class="panel-heading">
					<h3 class="panel-title">Error</h3>
				  </div>
				  <div class="panel-body">
					<span></span>
				  </div>
				</div>

				<form class='form-horizontal'>
				  <div class="form-group">
					  <label for="open_tunnel_timeout" class="col-sm-2 control-label">Timeout</label>
					  <div class="col-sm-10">
						<select name=timeout class='form-control' id=open_tunnel_timeout>
							<option default value=300>5 mins</option>
							<option value=60>1 min</option>
							<option value=1800>30 mins</option>
							<option value=7200>120 mins</option>
							<option value=43200>12 hours</option> 
							<!-- alarm() takes integer -->
						</select>



					  </div>
				  </div>
				</form>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id='open_tunnel_doit' type="button" class="btn btn-primary">Go</button>
				</div>
			</div> <!-- modal-content -->
		</div>
	</div>
	<!-- /modal -->
