
	<!-- Modal show command output -->
	<div id='show_command_output_modal' class="modal fade" tabindex="-1" role="dialog" >
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="command_output_title">Command Output</h4>
				</div>
				<div class="modal-body">
					<div class='row'>
						<div class='col-md-12'>

							Command:
							<pre class='pre-scrollable' id='command_output_text'>
							</pre>

							Output:
							<pre class='pre-scrollable' id='command_output_output'>
							Loading..
							</pre>

						</div>
					</div>

					<div class='row'>
						<div class='col-md-6'>
							Command Type: (cmd/tunnel/internal)
							<div class="well well-sm"><span id='command_output_type'></span></div>
						</div>
						<div class='col-md-6'>
							Exec Type: (c=exec p=popen-like, u=update, i=ini set)
							<div class="well well-sm"><span id='command_output_exec_type'></span></div>
						</div>
					</div>

					<div class='row'>
						<div class='col-md-6'>

							Exit Status:
							<div class="well well-sm"><span id='command_output_exitstatus'></span></div>
						</div>
						<div class='col-md-6'>

							Exit Reason:
							<div class="well well-sm"><span id='command_output_exitreason'></span>&nbsp;</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div> <!-- modal-content -->
		</div>
	</div>
	<!-- /modal -->
