<!-- modal_run_command.twig -->
	<div class="modal fade" role="dialog" id='run_command_modal'>
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form id='run_command_form' data-toggle="validator">

				  <div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <h4 class="modal-title" >Run Command</h4>
				  </div>

				  <div class="modal-body">
					  <div class="row">
						  <div class="col-md-12">
							  <div class="form-group">
								  <label for="run_command_command">Script:</label>
								  <select id='run_command_scriptlist'></select>
								  <textarea data-minlength="2" data-error="At least 2 chars long" class="form-control" rows="10"  required   id="run_command_command" placeholder="Command"></textarea>

								  <div class="help-block with-errors"></div>
							  </div>

							  <div class="form-group">

								<div class="radio">
									<label>
										<input type="radio" name="run_command_type" id="run_command_type_popen" value="p" checked>
									  Execute command with arguments or entire script (fork&rarr;fork/execl via /bin/sh -c)
									</label>
								</div>


								<div class="radio">
								  <label>
									  <input type="radio" name="run_command_type" id="run_command_type_exec" value="c" >
									  Execute only a single command with arguments (fork&rarr;fork/execvp, may give better exit status)
								  </label>
								</div>
							  </div>

							  <div class="form-group">
								  <label for="run_command_timeout">Timeout (seconds)</label>
								  <input type=number data-minlength="1" data-maxlength=3 data-error="Numeric"  required class="form-control" id="run_command_timeout" placeholder="Timeout (sec)" value=20>
								  <div class="help-block with-errors"></div>
							  </div>
						  </div> <!-- col-md -->
					  </div><!-- /row -->
				  </div> <!-- /modal-body -->

				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id='run_command_submit_btn' type="button" class="btn btn-primary">Place command</button>
				  </div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
<!-- /modal_run_command.twig -->

