<html>
	<head>
	{% include 'header.html' with {'title': 'Maintenance'} %}
	<link href='{{ uri.basePath }}/css/coolagent/scripts.css' rel='stylesheet' type='text/css'>

	<script src="{{ uri.basePath }}/js/coolagent/scripts.js"></script>
	<script src="https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js"></script>

<style type="text/css" media="screen">
    #script_editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
	</head>

    <body>
		 {% include 'menu.html' %}

        <div class='container-fluid'>


            <div class='row'>

                <div class='col-md-12'>
                    <div class='panel panel-primary' id='maintenance_container'>
                        <div class="panel-heading">
                            <b>Scripts</b>
                        </div>
                        <div class="panel-body">
							<div class='col-md-3'>

								<div class='row'>
									<div class='col-md-12'>
										<div class="btn-group btn-group-justified" role="group" aria-label="...">
											<div class="btn-group" role="group">
												<button id='new_script_btn' type="button" class="btn btn-xs btn-primary">New Script</button>
											</div>
											<div class="btn-group" role="group">
												<button disabled id='delete_script_btn' type="button" class="btn btn-xs btn-danger">Delete Script</button>
											</div>
										</div>
									</div>
								</div><!-- row -->
								<div class='row'>
									<div class='col-md-12'>
										<select id='script_list' size=30 class="form-control">
											<option value=''>script 1</option>
											<option value=''>script 2</option>
										</select>
									</div>
								</div>

							</div><!-- md-3 script list -->


							<div class='col-md-9'>


								<form class="form-horizontal">
									<div class="form-group">
										<label for="script_title" class="col-sm-2 control-label">Title</label>
										<div class="col-sm-10 nopadding">
											<input type="text" class="form-control" id="script_title" placeholder="Title">
											<input type="hidden" id="script_id" value=''>
										</div>
									</div>

									<div class="form-group">
										<label for="script_content" class="col-sm-2 control-label">Script</label>
										<div class="col-sm-10">

											<div id="script_editor">
											</div>

											<textarea rows=35 class="form-control" id="script_content" placeholder="Script"></textarea>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-1">
											<button id='save_script_btn' type="button" class="btn btn-success">Save</button>
										</div>
										<div class="col-sm-9">
											<div class="alert alert-warning" id='script_msg' style='display:none' role="alert"></div>
										</div>
									</div>
								</form>


							</div><!-- md-9 -->



                        </div><!-- panel body-->

                    </div><!-- panel agent_container -->
                </div> <!-- md-8 -->

			</div><!-- row -->



		</div><!-- container -->

    </body>
{% include 'modal_show_command_output.twig' %}
{% include 'footer.html' %}
</html>
